<table class="table">
  <tr>
    <th>Building</th>
    <th>Year</th>
    <%- @presenter.measurements.each do |measurement|%>
        <th><%= measurement%></th>
    <% end %>
  </tr>

  <%- @presenter.energy_usages.each do |name, usages|%>
      <tr>
        <td><%== name%></td>
        <td><%= @presenter.year%></td>
        <%- @presenter.measurements.each do |measurement|%>
            <td><%= number_to_currency(usages[measurement])|| 0.0 %></td>
        <% end %>
      </tr>
  <% end %>
</table>